/003-TDA-Memoria-Estatica-ClaseArrays/nbproject/private/
/003-TDA-Memoria-Estatica-ClaseArrays/build/
/003-TDA-Memoria-Estatica-ClaseArrays/dist/
/004-TDA-Memoria-Dinamica-ClaseArrayList/nbproject/private/
/004-TDA-Memoria-Dinamica-ClaseArrayList/build/